project_name = MobileSink

width = 600
height = 600
number_of_threads = 4

log = true
seed_random = 1587632589
rounds = 500

#Sensor Nodes
nodes[0] = 1000
distribuition_model[0] = RandomDistribution
communication_radio[0] = 300
node_radio[0] = 15
node_implementation[0] = Sensor
connectivity_model[0] = SinkNodeConnectivity
mobility_model[0] = NoMobility

#Mobile Sink
nodes[1] = 1
distribuition_model[1] = RandomDistribution
communication_radio[1] = 300
node_radio[1] = 15
node_implementation[1] = Sink
connectivity_model[1] = SinkNodeConnectivity
mobility_model[1] = SinkMobilityTimer